{% extends "layout.html" %}
{% block meta %}
<link rel="canonical" href="{{ url }}" />
<meta name="robots" content="index, follow" />
<meta name="description" content="{{ this.snippet }}" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ this.title }}" />
<meta property="og:description" content="{{ this.snippet }}" />
<meta property="og:image" content="{% for image in this.attachments.images %}{{ image|url }} {{ break }} {% endfor %}" />
<meta property="og:url" content="{{ '/'|url }}" />
<meta property="og:site_name" content="luizfnunes" />
{% endblock %}
{% from "macros/blog.html" import render_blog_post %}
{% block title %}{{ this.title }}{% endblock %}
{% block body %}
  {{ render_blog_post(this) }}
{% endblock %}
